<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sample -->
<mapper namespace="com.metlife.eightseconds.domain.dao.ProductDao">
    <!-- 실제 코드 -->
<!--    <select id="findByPersonalInfo" parameterType="AiRequestDto" resultType="ProductResponseDto">-->

<!--    </select>-->

    <!-- test -->
    <select id="selectProductId" parameterType="Integer" resultType="String">
        select productName from product
        where productId = #{productId};
    </select>
</mapper>

